.item-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap: 1.8rem;
}

.item-detail img {
    max-width: 60%;
    height: 125vh;
    border-radius: 8px;
    margin-bottom: 15px;
}

.item-detail-info{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border: 0.14rem solid #272626; 
    border-radius: 1rem;
    padding: 1.5rem;
}
.item-detail-info h2 {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0.5rem 0;
    text-align: center;
}

.item-detail-info p {
    font-size: 1.5rem;
    color: #ffffff;
}

.item-detail a {
  text-decoration: none;
  color: inherit;
}

.item-detail a:hover {
  text-decoration: none;
  color: inherit;
}

.item-detail a:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .item-detail {
    flex-direction: column;
    padding: 2rem;
  }
  
  .item-detail img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
  }
  
  .item-detail-info {
    max-width: 100%;
    margin-top: 2rem;
  }
}