.item-detail{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 7rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap: 1.8rem;
}

.item-detail img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.item-detail-info{
    display: flex;
    flex-direction: column;
    border: 0.14rem solid #272626; 
    border-radius: 1rem;
    padding: 1.5rem;
}
.item-detail-info h2 {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0.5rem 0;
    text-align: center;
}

.item-detail-info p {
    font-size: 1.5rem;
    color: #ffffff;
}