body {
  background-color: #353738;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #1b1d1f;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: #1b1d1f 2px 2px 4px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.logo i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.navbar-logo {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
.navbar-links {
  display: flex;
  gap: 2rem;
  color: white;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}
